{% extends 'base.html.twig' %}

{% block title %}
	Formation
{% endblock %}

{% block body %}
	<h1>Formation</h1>
	{% if formation is null %}
		<a href="{{ path('new_formation')}}">Ajouter une formation</a>
		<h2>Les formations</h2>
		{% for formation in formations %}
			<p>
				<a href="{{ path('infos_formation', {'id' : formation.id}) }}">{{ formation }}</a>
			</p>
		{% endfor %}
	{% else %}
		<a href="{{ path('app_formation')}}">Retour à la liste</a>
		<h2>Informations :</h2>
		<h3>Formation :
			{{ formation.nom }}</h3>
		<a href="{{ path('edit_formation', {'id': formation.id}) }}">Modifier</a>
		<a class="confirm-delete" href="{{ path('delete_formation', {'id': formation.id}) }}">Supprimer</a>
		<h3>Session :</h3>
		{% for session in sessionsFormation %}
			<table>
				<thead>
					<th>Date de début</th>
					<th>Date de fin</th>
					<th>Nombre de place</th>
				</thead>
				<tbody>
					<td>{{ session.dateDebut|date('d/M/Y') }}</td>
					<td>{{ session.dateFin|date('d/M/Y') }}</td>
					<td>{{ session.nbPlace }}</td>
				</tbody>
			</table>
		{% endfor %}

	{% endif %}


{% endblock %}
