{% extends 'base.html.twig' %}

{% block title %}
	Inscription
{% endblock %}

{% block additional_css %}
	<link rel="stylesheet" href="{{ asset('css/log.css') }}">
{% endblock %}

{% block body %}

	{% for flash_error in app.flashes('verify_email_error') %}
		<div class="alert alert-danger" role="alert">{{ flash_error }}</div>
	{% endfor %}

	<h1>Inscription</h1>

	{{ form_errors(registrationForm) }}

	{{ form_start(registrationForm) }}

	{{ form_row(registrationForm.email) }}
	{{ form_label(registrationForm.nom) }}
	{{ form_errors(registrationForm.nom) }}
	{{ form_widget(registrationForm.nom) }}

	{{ form_label(registrationForm.prenom) }}
	{{ form_errors(registrationForm.prenom) }}
	{{ form_widget(registrationForm.prenom) }}

	{# {{ form_label(registrationForm.plainPassword) }} #}
	{{ form_errors(registrationForm.plainPassword) }}
	{{ form_widget(registrationForm.plainPassword) }}

	<div class="radio">
		{{ form_widget(registrationForm.agreeTerms) }}
		{{ form_label(registrationForm.agreeTerms) }}
		{{ form_errors(registrationForm.agreeTerms) }}
	</div>
	<button type="submit" class="btn-log">S'incrire</button>

	{{ form_end(registrationForm) }}

{% endblock %}
