{% extends 'base.html.twig' %}

{% block title %}Stagiaire
{% endblock %}

{% block body %}
	<h1>Stagiaire</h1>

	<a href="{{ path('app_stagiaire')}}">Retour à la liste</a>

	<h2>Informations</h2>
	<p>Nom :
		{{ stagiaire.nom }}</p>
	<p>Prénom :
		{{ stagiaire.prenom }}</p>
	<p>Téléphone :
		{{ stagiaire.telephone }}</p>
	<a href="{{ path('edit_stagiaire', {'id': stagiaire.id}) }}">Modifier</a>

{% endblock %}
