{% extends 'base.html.twig' %}

{% block title %}
	Stagiaire
{% endblock %}

{% block additional_css %}
	<link rel="stylesheet" href="{{ asset('css/infos-section.css') }}">
{% endblock %}

{% block body %}

	<h1>Stagiaire</h1>

	<a class="btn-return" href="{{ path('app_stagiaire')}}">
		<i class="fa-solid fa-caret-left" style="color: #000000; font-size: 40px;"></i>Retour</a>

	<div class="informations">
		<h2>Informations</h2>

		<div class="section">
			<p><b>Nom</b> :
				{{ stagiaire.nom }}</p>
			<p><b>Prénom</b> :
				{{ stagiaire.prenom }}</p>
			<p><b>Téléphone</b> :
				{{ stagiaire.telephone }}</p>

			<a class="btn" href="{{ path('edit_stagiaire', {'id': stagiaire.id}) }}">Modifier</a>
		</div>

		<div class="section">
			<h2>Sessions</h2>

			{# Sessions en cours #}
			<h4>Sessions en cours</h4>

			{% if sessionsEnCours is empty %}

				<p>Aucune sessions en cours</p>

			{% else %}

				<table class="table-session">
					<thead>
						<th>Formation</th>
						<th>Date de début</th>
						<th>Date de fin</th>
					</thead>

					<tbody>
						{% for session in sessionsEnCours %}

							<tr class="clickable-row" data-url="{{ path('infos_session', {'id': session.id}) }}">
								<td>{{ session.formation_nom }}</td>
								<td>{{ session.date_debut|format_datetime(pattern='d MMM y', locale='fr') }}</td>
								<td>{{ session.date_fin|format_datetime(pattern='d MMM y', locale='fr') }}</td>
							</tr>

						{% endfor %}
					</tbody>
				</table>

			{% endif %}

			{# Session à venir #}
			<h4>Sessions à venir</h4>

			{% if sessionsFuture is empty %}

				<p>Aucune sessions à venir</p>

			{% else %}

				<table class="table-session">
					<thead>
						<th>Formation</th>
						<th>Date de début</th>
						<th>Date de fin</th>
					</thead>

					<tbody>
						{% for session in sessionsFuture %}

							<tr class="clickable-row" data-url="{{ path('infos_session', {'id': session.id}) }}">
								<td>{{ session.formation_nom }}</td>
								<td>{{ session.date_debut|format_datetime(pattern='d MMM y', locale='fr') }}</td>
								<td>{{ session.date_fin|format_datetime(pattern='d MMM y', locale='fr') }}</td>
							</tr>

						{% endfor %}
					</tbody>
				</table>

			{% endif %}

			{# Session terminées #}
			<h4>Session terminées</h4>

			{% if sessionsTerminee is empty %}

				<p>Aucune sessions terminées</p>

			{% else %}


				<table class="table-session">
					<thead>
						<th>Formation</th>
						<th>Date de début</th>
						<th>Date de fin</th>
					</thead>

					<tbody>
						{% for session in sessionsTerminee %}

							<tr class="clickable-row" data-url="{{ path('infos_session', {'id': session.id}) }}">
								<td>{{ session.formation_nom }}</td>
								<td>{{ session.date_debut|format_datetime(pattern='d MMM y', locale='fr') }}</td>
								<td>{{ session.date_fin|format_datetime(pattern='d MMM y', locale='fr') }}</td>
							</tr>

						{% endfor %}
					</tbody>
				</table>

			{% endif %}
		</div>
	</div>

	{# JavaScript #}
	{% block additional_javascripts %}
		<script src="{{ asset('js/session.js') }}"></script>
	{% endblock %}

{% endblock %}
