{% extends 'base.html.twig' %}

{% block title %}

	{# Variable qui définit si on est sur la vue éditer ou ajouter #}
	{% if isNew %}

		Ajouter un stagiaire

	{% else %}

		Editer un stagiaire

	{% endif %}

	{% block additional_css %}
		<link rel="stylesheet" href="{{ asset('css/edit-section.css') }}">
	{% endblock %}

{% endblock %}

{% block body %}

	<h1>Stagiaire</h1>

	<div class="section">

		<a class="btn-return" href="{{ path('app_stagiaire') }}"><i class="fa-solid fa-caret-left" style="color: #000000; font-size: 40px;"></i>Retour</a>

		{% if isNew %}

			<h2>Ajouter un stagiaire</h2>

		{% else %}

			<h2>Modifier ou supprimer le stagiaire</h2>

		{% endif %}


		{{ form_start(formAddStagiaire) }}
			{{ form_row(formAddStagiaire.nom) }}
			{{ form_row(formAddStagiaire.prenom) }}
			{{ form_row(formAddStagiaire.telephone) }}
		{{ form_row(formAddStagiaire.Valider) }}

		{% if isNew == false %}

			<a class="btn-return" href="{{ path('infos_stagiaire', {'id' : stagiaire}) }}">Annuler</a>
			<a class="confirm-delete btn btn-delete" href="{{ path('delete_stagiaire', {'id' : stagiaire}) }}">Supprimer</a>

		{% else %}

			<a class="btn-return" href="{{ path('app_stagiaire')}}">Annuler</a>

		{% endif %}

		{{ form_end(formAddStagiaire) }}

	</div>

{% endblock %}
