{% extends 'base.html.twig' %}

{% block title %}Sessions
{% endblock %}

{% block body %}
	<h1>Sessions</h1>

	{# <a href="{{ path('new_session') }}">Ajouter une sesion</a> #}

	<h2>Les sessions</h2>

	<h3>Sessions en cours</h3>
	<table>
		<thead>
			<th>Formation</th>
			<th>Nombre de place</th>
			<th>Date de début</th>
			<th>Date de fin</th>
		</thead>
		{% for session in enCours %}
			<tbody>
				<td>
					{{ session.formation }}</td>
				<td>
					{{ session.nbPlace }}</td>
				<td>
					{{ session.dateDebut|date("m/d/Y") }}</td>
				<td>
					{{ session.dateFin|date("m/d/Y") }}</td>
			</tbody>
			{# <p>Nombre de stagiaire : {{ session.stagiaire }}</p> #}
			{# <p>Nombre de programme : {{ session.programme }}</p> #}
		{% endfor %}
	</table>

    	<h3>Sessions Terminées</h3>
	<table>
		<thead>
			<th>Formation</th>
			<th>Nombre de place</th>
			<th>Date de début</th>
			<th>Date de fin</th>
		</thead>
		{% for session in terminees %}
			<tbody>
				<td>
					{{ session.formation }}</td>
				<td>
					{{ session.nbPlace }}</td>
				<td>
					{{ session.dateDebut|date("m/d/Y") }}</td>
				<td>
					{{ session.dateFin|date("m/d/Y") }}</td>
			</tbody>
			{# <p>Nombre de stagiaire : {{ session.stagiaire }}</p> #}
			{# <p>Nombre de programme : {{ session.programme }}</p> #}
		{% endfor %}
	</table>

    	<h3>Sessions à venir</h3>
	<table>
		<thead>
			<th>Formation</th>
			<th>Nombre de place</th>
			<th>Date de début</th>
			<th>Date de fin</th>
		</thead>
		{% for session in future %}
			<tbody>
				<td>
					{{ session.formation }}</td>
				<td>
					{{ session.nbPlace }}</td>
				<td>
					{{ session.dateDebut|date("m/d/Y") }}</td>
				<td>
					{{ session.dateFin|date("m/d/Y") }}</td>
			</tbody>
			{# <p>Nombre de stagiaire : {{ session.stagiaire }}</p> #}
			{# <p>Nombre de programme : {{ session.programme }}</p> #}
		{% endfor %}
	</table>
{% endblock %}
