{% extends 'base.html.twig' %}

{% block title %}
	Sessions
{% endblock %}

{% block additional_css %}
	<link rel="stylesheet" href="{{ asset('css/session.css') }}">
{% endblock %}

{% block body %}

	<h1>Sessions</h1>

	{# Si aucun id n'est renseigné dans l'URL /session - Listes des sessions : En cours, Terminées, À venir #}
	{% if session is null %}

		{# ROLE_ADMIN : Lien pour créer une session /session/new #}
		{% if is_granted('ROLE_USER') %}
			<a href="{{ path('new_session') }}">Ajouter une sesion</a>
		{% endif %}

		<h2>Les sessions</h2>

		{# Affiche la liste des session #}
		{# En cours #}
		<h3>Sessions en cours</h3>

		<table>
			<thead>
				<th>Statut</th>
				<th>Formation</th>
				<th>Date de début</th>
				<th>Date de fin</th>
				<th>Inscrits</th>
			</thead>
			<tbody>
				{% for session in enCours %}
					<tr class="clickable-row" data-url="{{ path('infos_session', {'id': session.id}) }}">
						<td>{{ session.nb_place - session.nb_stagiaire == 0 ? 'Complet' : '' }}</td>
						<td>
							{{ session.formation_nom }}</td>
						<td>
							{{ session.date_debut|format_datetime(pattern='d MMM y', locale='fr') }}</td>
						<td>
							{{ session.date_fin|format_datetime(pattern='d MMM y', locale='fr') }}</td>
						<td>
							{{ session.nb_stagiaire }}
							/
							{{ session.nb_place }}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
		<div class="navigation">
			{{ knp_pagination_render(enCours) }}
		</div>

		{# Session à venir #}
		<h3>Sessions à venir</h3>

		<table>
			<thead>
				<th>Statut</th>
				<th>Formation</th>
				<th>Date de début</th>
				<th>Date de fin</th>
				<th>Inscrits</th>
			</thead>
			<tbody>
				{% for session in future %}
					<tr class="clickable-row" data-url="{{ path('infos_session', {'id': session.id}) }}">
						<td>{{ session.nb_place - session.nb_stagiaire == 0 ? 'Complet' : '' }}</td>
						<td>
							{{ session.formation_nom }}</td>
						<td>
							{{ session.date_debut|format_datetime(pattern='d MMM y', locale='fr') }}</td>
						<td>
							{{ session.date_fin|format_datetime(pattern='d MMM y', locale='fr') }}</td>
						<td>
							{{ session.nb_stagiaire }}
							/
							{{ session.nb_place }}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
		<div class="navigation">
			{{ knp_pagination_render(future) }}
		</div>

		{# Session terminées #}
		<h3>Sessions terminées</h3>

		<table>
			<thead>
				<th>Statut</th>
				<th>Formation</th>
				<th>Date de début</th>
				<th>Date de fin</th>
				<th>Inscrits</th>
			</thead>
			<tbody>
				{% for session in terminees %}
					<tr class="clickable-row" data-url="{{ path('infos_session', {'id': session.id}) }}">
						<td>Terminée</td>
						<td>
							{{ session.formation_nom }}</td>
						<td>
							{{ session.date_debut|format_datetime(pattern='d MMM y', locale='fr') }}</td>
						<td>
							{{ session.date_fin|format_datetime(pattern='d MMM y', locale='fr') }}</td>
						<td>
							{{ session.nb_stagiaire }}
							/
							{{ session.nb_place }}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
		<div class="navigation">
			{{ knp_pagination_render(terminees) }}
		</div>

		{# Affiche l'information d'une seule session avec son ID #}
	{% else %}

		<a href="{{ path('app_session') }}">Retour</a>

		{# Infos Session #}
		<h2>Information de la session</h2>

		{# Formation #}
		<p>Formation :
			<a href="{{ path('infos_formation', {'id': session.formation.id}) }}" target="_blank">{{ session.formation }}</a>
		</p>
		<p>Date de début :
			{{ session.dateDebut|format_datetime(pattern='d MMMM y', locale='fr') }}</p>
		<p>Date de fin :
			{{ session.dateFin|format_datetime(pattern='d MMMM y', locale='fr') }}</p>
		<p>Nombre de place :
			{{ session.nbPlace }}</p>
		<p>Nombre de place disponible :
			{{ session.nbPlace - nb_disponible }}</p>

		{# ROLE_ADMIN : Lien vers la vue pour modifier les infos de la session -> nom de la Formation, date de début et de fin, nombre de place #}
		{% if is_granted('ROLE_ADMIN') %}
			<a href="{{ path('edit_session', {'id': session.id}) }}">Modifier</a>
		{% endif %}

		{# Liste des stagiaires inscrit, les visiteurs ne peuvent pas voir les stagiaires #}
		{% if app.user %}

			<h3>Liste des stagiaires inscrits</h3>

			{# Si aucun stagiaire n'est inscrit affiche un message #}
			{% if session.stagiaires is empty %}

				<p>Aucun stagiaire inscrits</p>

				{# sinon affiche les stagiaires inscrits #}
			{% else %}

				{% for stagiaire in session.stagiaires %}
					<p>
						{# Stagiaire inscrit sous forme de lien vers les infos du stagiaire #}
						<a href="{{ path('infos_stagiaire', {'id': stagiaire.id}) }}" target="_blank">{{ stagiaire.nom }}
							{{ stagiaire.prenom }}</a>

						{# ROLE_ADMIN : Affiche le lien bouton pour supprimer le stagiaire de la session. La classe confirm-delete permet la confirmation de suppression avec un script js #}
						{% if is_granted('ROLE_ADMIN') %}
							<a class="confirm-delete" href="{{ path('deleteStagiaire_session', {'id': session.id, 'idStagiaire': stagiaire.id}) }}">Supprimer</a>
						{% endif %}
					</p>
				{% endfor %}

			{% endif %}
		{% endif %}

		{# Programme #}
		<h3>Programme</h3>

		{# Trie les modules par ordre alphabétique #}
		{% set sortedProgrammes = session.programmes|sort((a, b) => a.module.nom <=> b.module.nom) %}

		{# S'il n'y a pas de progrmame, affiche un message spécifique #}
		{% if sortedProgrammes is empty %}

			<p>Cette session n'a pas de programme</p>

			{# Sinon affiche le programme : la liste des modules avec le nombre de jour #}
		{% else %}

			{# Liste des programmes #}
			{% for key, programme in sortedProgrammes %}

				{# ROLE_ADMIN #}
				{% if is_granted('ROLE_ADMIN') %}

					{# Formulaire pour pouvoir modifier le nombre de jour d'un module #}
					<form action="{{ path('edit_jour_programme_session', {'id': session.id, 'id_programme': programme.id}) }}" method="post">
						<p>
							{{ key + 1 }}:
							<a href="{{ path('infos_module', {'id': programme.module.id }) }}" target="_blank">{{ programme.module }}</a>
							/
							<input type="number" name="nbJour" value="{{ programme.nbJour }}"/>
							jours
							<input
							type="submit" value="Mettre à jour"/>

							{# Lien bouton pour supprimer le module #}
							<a class="confirm-delete" href="{{ path('deleteProgramme_session', {'id' : session.id, 'idProgramme': programme.id}) }}">Supprimer</a>
						</p>
					</form>

					{# Affichage juste la liste sans pouvoir faire de modification #}
				{% else %}

					<p>
						{{ key + 1 }}:
						<a href="{{ path('infos_module', {'id': programme.module.id }) }}" target="_blank">{{ programme.module }}</a>
						/
						{{ programme.nbJour }}
						jours
					</p>

				{% endif %}

			{% endfor %}

		{% endif %}

		{# ROLE_ADMIN : Ajout stagiaire à la session + Ajout d'un module au programme de la session #}
		{% if is_granted('ROLE_ADMIN') %}

			{# Ajout d'un stagiaire à la session #}
			<h3>Ajouter un stagiaire à la session</h3>

			<label for="stagiaire-select">Liste des stagiaires :</label>
			{# Rend le select disabled s'il n'y a plus de place #}
			<select name="stagiaires" id="stagiaire-select" onchange="location = this.value;" {{ session.nbPlace == nb_disponible ? 'disabled' : '' }}>
				<option value="">Choisir un stagiaire</option>
				{% for stagiaire in stagiaires %}
					<option value="{{ path('addStagiaire_session', {'id': session.id, 'id_stagiaire': stagiaire.id }) }}">{{ stagiaire }}</option>
				{% endfor %}
			</select>
			{# Message s'il n'y a plus de place disponible #}
			{% if session.nbPlace == nb_disponible %}

				<p>Le nombre maximal de stagiaires a été atteint.</p>

			{% endif %}

			{# Créer un stagiaire s'il n'existe pas #}
			<h3>Créer un stagiaire s'il n'existe pas</h3>

			{{ form_start(formNewStagiaire) }}

			{{ form_row(formNewStagiaire.nom) }}
			{{ form_row(formNewStagiaire.prenom) }}
			{{ form_row(formNewStagiaire.telephone) }}
			{{ form_row(formNewStagiaire.Valider) }}

			{{ form_end(formNewStagiaire) }}

			{# Ajout modoule au programme d la session #}
			<h3>Ajouter un programme à la session</h3>

			{{ form_start(formAddProgramme) }}

			{{ form_label(formAddProgramme.module) }}
			{{ form_errors(formAddProgramme.module) }}
			{{ form_widget(formAddProgramme.module) }}

			{{ form_label(formAddProgramme.nb_jour) }}
			{{ form_errors(formAddProgramme.nb_jour) }}
			{{ form_widget(formAddProgramme.nb_jour) }}

			{{ form_widget(formAddProgramme.Valider) }}

			{{ form_end(formAddProgramme) }}

		{% endif %}

	{% endif %}

	{# JavaScript #}
	{% block additional_javascripts %}
		<script src="{{ asset('js/session.js') }}"></script>
	{% endblock %}

{% endblock %}
