{% extends 'base.html.twig' %}

{% block title %}
	Sessions
{% endblock %}

{% block additional_css %}
	<link rel="stylesheet" href="{{ asset('css/session.css') }}">
{% endblock %}

{% block body %}

	<h1>Sessions</h1>

	{# Si aucun id n'est renseigné dans l'URL /session - Listes des sessions : En cours, Terminées, À venir #}
	{% if session is null %}

		{# ROLE_ADMIN : Lien pour créer une session /session/new #}
		{% if is_granted('ROLE_USER') %}
			<a href="{{ path('new_session') }}">Ajouter une sesion</a>
		{% endif %}
		
		<h2>Les sessions</h2>

		{# Affiche la liste des session #}
		{# En cours #}
		<h3>Sessions en cours</h3>

		<table>
			<thead>
				<th>Formation</th>
				<th>Nombre de place</th>
				<th>Date de début</th>
				<th>Date de fin</th>
			</thead>
			<tbody>
				{% for session in enCours %}
					<tr class="clickable-row" data-url="{{ path('infos_session', {'id': session.id}) }}">
						<td>
							{{ session.formation }}</td>
						<td>
							{{ session.nbPlace }}</td>
						<td>
							{{ session.dateDebut|format_datetime(pattern='d MMM y', locale='fr') }}</td>
						<td>
							{{ session.dateFin|format_datetime(pattern='d MMM y', locale='fr') }}</td>
						{# <p>Nombre de stagiaire : {{ session.stagiaire }}</p> #}
						{# <p>Nombre de programme : {{ session.programme }}</p> #}
					</tr>
				{% endfor %}
			</tbody>
		</table>

		{# Session terminées #}
		<h3>Sessions terminées</h3>

		<table>
			<thead>
				<th>Formation</th>
				<th>Nombre de place</th>
				<th>Date de début</th>
				<th>Date de fin</th>
			</thead>
			<tbody>
				{% for session in terminees %}
					<tr class="clickable-row" data-url="{{ path('infos_session', {'id': session.id}) }}">
						<td>
							{{ session.formation }}</td>
						<td>
							{{ session.nbPlace }}</td>
						<td>
							{{ session.dateDebut|format_datetime(pattern='d MMM y', locale='fr') }}</td>
						<td>
							{{ session.dateFin|format_datetime(pattern='d MMM y', locale='fr') }}</td>
						{# <p>Nombre de stagiaire : {{ session.stagiaire }}</p> #}
						{# <p>Nombre de programme : {{ session.programme }}</p> #}
					</tr>
				{% endfor %}
			</tbody>
		</table>

		{# Session à venir #}
		<h3>Sessions à venir</h3>

		<table>
			<thead>
				<th>Formation</th>
				<th>Nombre de place</th>
				<th>Date de début</th>
				<th>Date de fin</th>
			</thead>
			<tbody>
				{% for session in future %}
					<tr class="clickable-row" data-url="{{ path('infos_session', {'id': session.id}) }}">
						<td>
							{{ session.formation }}</td>
						<td>
							{{ session.nbPlace }}</td>
						<td>
							{{ session.dateDebut|format_datetime(pattern='d MMM y', locale='fr') }}</td>
						<td>
							{{ session.dateFin|format_datetime(pattern='d MMM y', locale='fr') }}</td>
						{# <p>Nombre de stagiaire : {{ session.stagiaire }}</p> #}
						{# <p>Nombre de programme : {{ session.programme }}</p> #}
					</tr>
				{% endfor %}
			</tbody>
		</table>

	{# Affiche l'information d'une seule session avec son ID #}
	{% else %}

		<a href="{{ path('app_session') }}">Retour</a>

		{# Infos Session #}
		<h2>Information de la session</h2>

		<p>Formation :
			<a href="{{ path('infos_formation', {'id': session.formation.id}) }}" target="_blank">{{ session.formation }}</a>
		</p>
		<p>Date de début :
			{{ session.dateDebut |format_datetime(pattern='d MMMM y', locale='fr') }}</p>
		<p>Date de fin :
			{{ session.dateFin |format_datetime(pattern='d MMMM y', locale='fr') }}</p>
		<p>Nombre de place :
			{{ session.nbPlace }}</p>
		<a href="{{ path('edit_session', {'id': session.id}) }}">Modifier</a>

		{# Liste des stagiaires #}
		<h3>Liste des stagiaires inscrits</h3>

		{% if session.stagiaires is empty %}
			<p>Aucun stagiaire inscrits</p>
		{% else %}
			{% set stagiairesSession = [] %}
			{% for stagiaire in session.stagiaires %}
				<p>
					<a href="{{ path('infos_stagiaire', {'id': stagiaire.id}) }}" target="_blank">{{ stagiaire.nom }}
						{{ stagiaire.prenom }}</a>
					<a class="confirm-delete" href="{{ path('deleteStagiaire_session', {'id': session.id, 'idStagiaire': stagiaire.id}) }}">Supprimer</a>
				</p>
			{% endfor %}
		{% endif %}

		{# Programme #}
		<h3>Programme</h3>

		{# Trie les modules par ordre alphabétique #}
		{% set sortedProgrammes = session.programmes|sort((a, b) => a.module.nom <=> b.module.nom) %}
		{% if sortedProgrammes is empty %}
			<p>Cette session n'a pas de programme</p>
		{% else %}
			{% for key, programme in sortedProgrammes %}
					<form action="{{ path('edit_jour_programme_session', {'id': session.id, 'id_programme': programme.id}) }}" method="post">
						<p>{{ key + 1 }}:
						<a href="{{ path('infos_module', {'id': programme.module.id }) }}" target="_blank">{{ programme.module }}</a>
						/
						<input type="number" name="nbJour" value="{{ programme.nbJour }}"/>
						jours
						<input type="submit" value="Mettre à jour" />
						<a class="confirm-delete" href="{{ path('deleteProgramme_session', {'id' : session.id, 'idProgramme': programme.id}) }}">Supprimer</a>
					</form>
				</p>
			{% endfor %}
		{% endif %}

		{# Ajout stagiaire à la session #}
		<h3>Ajouter un stagiaire à la session</h3>

		<label for="stagiaire-select">Liste des stagiaires :</label>
		<select name="stagiaires" id="stagiaire-select" onchange="location = this.value;">
			<option value="">Choisir un stagiaire</option>
			{% for stagiaire in stagiaires %}
				<option value="{{ path('addStagiaire_session', {'id': session.id, 'id_stagiaire': stagiaire.id }) }}">{{ stagiaire }}</option>
			{% endfor %}
		</select>

		{# Ajout programme à la session #}
		<h3>Ajouter un programme à la session</h3>

		{{ form_start(formAddProgramme) }}
			{{ form_label(formAddProgramme.module) }}
			{{ form_errors(formAddProgramme.module) }}
			{{ form_widget(formAddProgramme.module) }}

			{{ form_label(formAddProgramme.nb_jour) }}
			{{ form_errors(formAddProgramme.nb_jour) }}
			{{ form_widget(formAddProgramme.nb_jour) }}

			{{ form_widget(formAddProgramme.Valider) }}
		{{ form_end(formAddProgramme) }}


	{% endif %}

	{# JavaScript #}
	{% block additional_javascripts %}
		<script src="{{ asset('js/session.js') }}"></script>
	{% endblock %}

{% endblock %}
