{% extends 'base.html.twig' %}

{% block title %}
	Sessions
{% endblock %}

{% block additional_css %}
	{% if session is null %}
		<link rel="stylesheet" href="{{ asset('css/sessions.css') }}">
	{% else %}
		<link rel="stylesheet" href="{{ asset('css/infos-session.css') }}">
	{% endif %}
{% endblock %}

{% block body %}

	{# Si aucun id n'est renseigné dans l'URL /session - Listes des sessions : En cours, Terminées, À venir #}
	{% if session is null %}

		{# ROLE_ADMIN : Lien pour créer une session /session/new #}
		{% if is_granted('ROLE_USER') %}
			<a class="btn" href="{{ path('new_session') }}">Créer une session</a>
		{% endif %}

		{# Affiche la liste des session #}
		<div
			class="sessions">
			{# En cours #}
			<div class="section-session">
				<h2>Sessions en cours</h2>

				<table class="table-session">
					<thead>
						<tr>
							<th>Statut</th>
							<th>Formation</th>
							<th>Date de début</th>
							<th>Date de fin</th>
							<th>Inscrits</th>
						</tr>
					</thead>
					<tbody>
						{% for session in enCours %}
							<tr class="clickable-row" data-url="{{ path('infos_session', {'id': session.id}) }}">
								<td>{{ session.nb_place - session.nb_stagiaire == 0 ? '<div class="complet">Complet</div>' : '<div class="en-cours">En cours</div>' }}</td>
								<td>
									<b>{{ session.formation_nom }}<b/></td>
								</td>
								<td>
									{{ session.date_debut|format_datetime(pattern='d MMM y', locale='fr') }}</td>
								<td>
									{{ session.date_fin|format_datetime(pattern='d MMM y', locale='fr') }}</td>
								<td>
									{{ session.nb_stagiaire }}
									/
									{{ session.nb_place }}</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
				<div class="navigation">
					{{ knp_pagination_render(enCours) }}
				</div>
			</div>

			{# Session à venir #}
			<div class="section-session">
				<h2>Sessions à venir</h2>

				<table class="table-session">
					<thead>
						<tr>
							<th>Statut</th>
							<th>Formation</th>
							<th>Date de début</th>
							<th>Date de fin</th>
							<th>Inscrits</th>
						</tr>
					</thead>
					<tbody>
						{% for session in future %}
							<tr class="clickable-row" data-url="{{ path('infos_session', {'id': session.id}) }}">
								<td>{{ session.nb_place - session.nb_stagiaire == 0 ? '<div class="complet">Complet</div>' : '<div class="ouvert">Ouvert</div>' }}</td>
								<td>
									<b>{{ session.formation_nom }}</b>
								</td>
								<td>
									{{ session.date_debut|format_datetime(pattern='d MMM y', locale='fr') }}</td>
								<td>
									{{ session.date_fin|format_datetime(pattern='d MMM y', locale='fr') }}</td>
								<td>
									{{ session.nb_stagiaire }}
									/
									{{ session.nb_place }}</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
				<div class="navigation">
					{{ knp_pagination_render(future) }}
				</div>
			</div>

			{# Session terminées #}
			<div class="section-session">
				<h2>Sessions terminées</h2>

				<table class="table-session">
					<thead>
						<tr>
							<th>Statut</th>
							<th>Formation</th>
							<th>Date de début</th>
							<th>Date de fin</th>
							<th>Inscrits</th>
						</tr>
					</thead>
					<tbody>
						{% for session in terminees %}
							<tr class="clickable-row" data-url="{{ path('infos_session', {'id': session.id}) }}">
								<td>
									<div class="terminee">Terminée</div>
								</td>
								<td>
									<b>{{ session.formation_nom }}</b>
								</td>
								<td>
									{{ session.date_debut|format_datetime(pattern='d MMM y', locale='fr') }}</td>
								<td>
									{{ session.date_fin|format_datetime(pattern='d MMM y', locale='fr') }}</td>
								<td>
									{{ session.nb_stagiaire }}
									/
									{{ session.nb_place }}</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
				<div class="navigation">
					{{ knp_pagination_render(terminees) }}
				</div>
			</div>
		</div>

		{# Affiche l'information d'une seule session avec son ID #}
	{% else %}

		<a class="btn-return" href="{{ path('app_session') }}">
			<i class="fa-solid fa-caret-left" style="color: #000000; font-size: 40px;"></i>Retour</a>

		{# Infos Session #}
		<section class="session-info section-border">
			<h2>Information de la session</h2>

			{# Formation #}
			<div class="session-details div-border">
				<div>
					<p>Formation</p>
					<a href="{{ path('infos_formation', {'id': session.formation.id}) }}" target="_blank">{{ session.formation }}</a>
				</div>
				<div>
					<div>
						<p>Date de début</p>
						<p>{{ session.dateDebut|format_datetime(pattern='d MMMM y', locale='fr') }}</p>
					</div>
					<div>
						<p>Date de fin</p>
						<p>{{ session.dateFin|format_datetime(pattern='d MMMM y', locale='fr') }}</p>
					</div>
				</div>
				<div>
					<div>
						<p>Nombre de place</p>
						<p>{{ session.nbPlace }}</p>
					</div>
					<div>
						<p>Nombre de place disponible</p>
						<p>{{ session.nbPlace - nb_disponible }}</p>
					</div>
				</div>

			</div>
			{# ROLE_ADMIN : Lien vers la vue pour modifier les infos de la session -> nom de la Formation, date de début et de fin, nombre de place #}
			{% if is_granted('ROLE_ADMIN') %}
				<a class="btn" href="{{ path('edit_session', {'id': session.id}) }}">Modifier</a>
			{% endif %}
		</section>

		{# Liste des stagiaires inscrit, les visiteurs ne peuvent pas voir les stagiaires #}
		{% if app.user %}
			<section class="stagiaires-list section-border">
				<h3>Liste des stagiaires inscrits</h3>
				<div
					class="stagiaires div-border">

					{# Si aucun stagiaire n'est inscrit affiche un message #}
					{% if session.stagiaires is empty %}

						<p>Aucun stagiaire inscrits</p>

						{# sinon affiche les stagiaires inscrits #}
					{% else %}

						{% for stagiaire in session.stagiaires %}
							<p
								class="stagiaire">
								{# Stagiaire inscrit sous forme de lien vers les infos du stagiaire #}
								<a class="stagiaire-link" href="{{ path('infos_stagiaire', {'id': stagiaire.id}) }}" target="_blank">{{ stagiaire.nom }}
									{{ stagiaire.prenom }}</a>

								{# ROLE_ADMIN : Affiche le lien bouton pour supprimer le stagiaire de la session. La classe confirm-delete permet la confirmation de suppression avec un script js #}
								{% if is_granted('ROLE_ADMIN') %}
									<a class="confirm-delete" href="{{ path('deleteStagiaire_session', {'id': session.id, 'idStagiaire': stagiaire.id}) }}">
										<i class="fa-solid fa-user-minus" style="color: #a12623;"></i>
									</a>
								{% endif %}
							</p>
						{% endfor %}

					{% endif %}
				</div>
			</section>
		{% endif %}

		{# Programme #}
		<section class="session-programme section-border">
			<h3>Programme</h3>

			{# Trie les modules par ordre alphabétique #}
			{% set sortedProgrammes = session.programmes|sort((a, b) => a.module.nom <=> b.module.nom) %}
			{# S'il n'y a pas de progrmame, affiche un message spécifique #}
			{% if sortedProgrammes is empty %}

				<p>Cette session n'a pas de programme</p>

				{# Sinon affiche le programme : la liste des modules avec le nombre de jour #}
			{% else %}
				{# Liste des programmes #}
				{% set totalJours = 0 %}
				{% for programme in sortedProgrammes %}
					{% set totalJours = totalJours + programme.nbJour %}
					{# Formulaire pour pouvoir modifier le nombre de jour d'un module #}
					<div class="items-module">
						<form action="{{ path('edit_jour_programme_session', {'id': session.id, 'id_programme': programme.id}) }}" method="post">
							<div class="table-programme">
								<div>
									<div>Module</div>
									<a class="module-link" href="{{ path('infos_module', {'id': programme.module.id }) }}" target="_blank">{{ programme.module }}</a>
								</div>
								<div>
									<div>Catégorie</div>
									<a class="categorie-link" href="{{ path('infos_categorie', {'id': programme.module.categorie.id }) }}" target="_blank">{{ programme.module.categorie }}</a>
								</div>
								<div>
									<div>Duréee</div>
									{% if is_granted('ROLE_ADMIN') %}
										<div class="edit-jour">
											<input type="number" name="nbJour" value="{{ programme.nbJour }}"/>
											<button class="btn" type="submit">Mettre à jour</button>
										</div>
									{% else %}
										<div>{{ programme.nbJour }}</div>
									{% endif %}
								</div>
							</div>
						</form>
						{% if is_granted('ROLE_ADMIN') %}
							<div class="delete-module">
								<a class="confirm-delete btn btn-delete" href="{{ path('deleteProgramme_session', {'id' : session.id, 'idProgramme': programme.id}) }}">Déprogrammer</a>
							</div>
						{% endif %}
					</div>
				{% endfor %}
				<b>Total de jours :
					{{ totalJours }}</b>

			{% endif %}
		</section>

		{# ROLE_ADMIN : Ajout stagiaire à la session + Ajout d'un module au programme de la session + créer un stagiaire #}
		{% if is_granted('ROLE_ADMIN') %}
			{# Ajout modoule au programme à la session #}
			<section class="add-module section-border">
				<h3>Ajouter un programme à la session</h3>

				{{ form_start(formAddProgramme) }}

				<div class="select-module">
					{{ form_label(formAddProgramme.module) }}
					{{ form_errors(formAddProgramme.module) }}
					{{ form_widget(formAddProgramme.module) }}
				</div>
				<div class="field-jours">
					{{ form_label(formAddProgramme.nb_jour) }}
					{{ form_errors(formAddProgramme.nb_jour) }}
					{{ form_widget(formAddProgramme.nb_jour) }}
				</div>

				{{ form_widget(formAddProgramme.Valider) }}

				{{ form_end(formAddProgramme) }}

			</section>

			{# Ajout d'un stagiaire à la session #}
			<section class="add-stagiaire section-border">
				<h3>Ajouter un stagiaire à la session</h3>

				<label for="stagiaire-select">Liste des stagiaires :</label>
				{# Rend le select disabled s'il n'y a plus de place #}
				<select name="stagiaires" id="stagiaire-select" onchange="location = this.value;" {{ session.nbPlace == nb_disponible ? 'disabled' : '' }}>
					<option value="">Choisir un stagiaire</option>
					{% for stagiaire in stagiaires %}
						<option value="{{ path('addStagiaire_session', {'id': session.id, 'id_stagiaire': stagiaire.id }) }}">{{ stagiaire }}</option>
					{% endfor %}
				</select>
				{# Message s'il n'y a plus de place disponible #}
				{% if session.nbPlace == nb_disponible %}

					<p>Le nombre maximal de stagiaires a été atteint.</p>

				{% endif %}
			</section>

			{# Créer un stagiaire s'il n'existe pas #}
			<section class="create-stagiaire section-border">
				<h3>Créer un stagiaire s'il n'existe pas</h3>

				{{ form_start(formNewStagiaire) }}

				<div>
					{{ form_label(formNewStagiaire.nom) }}
					{{ form_errors(formNewStagiaire.nom) }}
					{{ form_widget(formNewStagiaire.nom) }}
				</div>
				<div>
					{{ form_label(formNewStagiaire.prenom) }}
					{{ form_errors(formNewStagiaire.prenom) }}
					{{ form_widget(formNewStagiaire.prenom) }}
				</div>
				<div>
					{{ form_label(formNewStagiaire.telephone) }}
					{{ form_errors(formNewStagiaire.telephone) }}
					{{ form_widget(formNewStagiaire.telephone) }}
				</div>
				{{ form_row(formNewStagiaire.Valider) }}


				{{ form_end(formNewStagiaire) }}
			</section>
		{% endif %}
	{% endif %}

	{# JavaScript #}
	{% block additional_javascripts %}
		<script src="{{ asset('js/session.js') }}"></script>
	{% endblock %}
{% endblock %}
