{% extends 'base.html.twig' %}

{% block title %}
	Ajouter un stagiaire
{% endblock %}

{% block body %}
	<h1>Session</h1>

	<a href="{{ path('app_session') }}">Retour</a>

	<h2>Ajouter un stagiaire</h2>

	{{ form_start(formAddSession) }}

	<div>
		{{ form_label(formAddSession.formation) }}
		{{ form_errors(formAddSession.formation) }}
		{{ form_widget(formAddSession.formation) }}
	</div>
	<div>
		{{ form_label(formAddSession.date_debut) }}
		{{ form_errors(formAddSession.date_debut) }}
		{{ form_widget(formAddSession.date_debut) }}
	</div>
	<div>
		{{ form_label(formAddSession.date_fin) }}
		{{ form_errors(formAddSession.date_fin) }}
		{{ form_widget(formAddSession.date_fin) }}
	</div>
	<div>
		{{ form_label(formAddSession.nb_place) }}
		{{ form_errors(formAddSession.nb_place) }}
		{{ form_widget(formAddSession.nb_place) }}
	</div>

	{{ form_row(formAddSession.Valider) }}

	{{ form_end(formAddSession) }}

	<a href="{{ path('app_session')}}">Annuler</a>


{% endblock %}
