{% extends 'base.html.twig' %}

{% block title %}

	{% if isNew  %}

		Ajouter une session

	{% else %}

		Modifier une session

	{% endif %}

	{% block additional_css %}
		<link rel="stylesheet" href="{{ asset('css/edit-section.css') }}">
	{% endblock %}

{% endblock %}

{% block body %}

	<h1>Session</h1>

	<div class="section">

		{% if isNew  %}

			<a class="btn-return" href="{{ path('app_session') }}">
				<i class="fa-solid fa-caret-left" style="color: #000000; font-size: 40px;"></i>Retour</a>
			<h2>Ajouter une session</h2>

		{% else %}

			<a class="btn-return" href="{{ path('infos_session', {'id': session.id}) }}"><i class="fa-solid fa-caret-left" style="color: #000000; font-size: 40px;"></i>Retour</a>
			<h2>Modifier / Supprimer une session</h2>

		{% endif %}

		{{ form_start(formAddSession) }}

		<div>
			{{ form_label(formAddSession.formation) }}
			{{ form_errors(formAddSession.formation) }}
			{{ form_widget(formAddSession.formation) }}
		</div>
		<div>
			{{ form_label(formAddSession.date_debut) }}
			{{ form_errors(formAddSession.date_debut) }}
			{{ form_widget(formAddSession.date_debut) }}
		</div>
		<div>
			{{ form_label(formAddSession.date_fin) }}
			{{ form_errors(formAddSession.date_fin) }}
			{{ form_widget(formAddSession.date_fin) }}
		</div>
		<div>
			{{ form_label(formAddSession.nb_place) }}
			{{ form_errors(formAddSession.nb_place) }}
			{{ form_widget(formAddSession.nb_place) }}

			{% for message in app.flashes('danger') %}
				<p>
					{{ message }}
				</p>
			{% endfor %}
		</div>

		{{ form_row(formAddSession.Valider) }}
		{% if isNew %}
			<a class="btn-return" href="{{ path('app_session')}}">Annuler</a>
		{% endif %}

		{{ form_end(formAddSession) }}

		{% if isNew is empty %}

			<a class="btn-return" href="{{ path('infos_session', {'id': session.id}) }}">Annuler</a>
			<a class="confirm-delete btn btn-delete" href="{{ path('delete_session', {'id' : session.id}) }}">Supprimer la session</a>

		{% endif %}

	</div>

{% endblock %}
