{% extends 'base.html.twig' %}

{% block title %}
	Module
{% endblock %}

{% block body %}
	<h1>Module</h1>
	{% if module is null %}
		<a href="{{ path('new_module')}}">Ajouter un module</a>
		<h2>Les modules</h2>
		{% for module in modules %}
			<p>
				<a href="{{ path('infos_module', {'id' : module.id}) }}">{{ module }}</a>
			</p>
		{% endfor %}
	{% else %}
		<a href="{{ path('app_module')}}">Retour à la liste</a>
		<h2>Informations :</h2>
		<p>Module :
			{{ module.nom }}</p>
		<p>Catégorie :
			<a href="{{ path('infos_categorie', {'id': module.categorie.id}) }}">{{ module.categorie }}</a>
		</p>
		<a href="{{ path('edit_module', {'id' : module.id}) }}">Modifier</a>
		<a href="{{ path('delete_module', {'id' : module.id}) }}">Supprimer</a>
	{% endif %}


{% endblock %}
