{% extends 'base.html.twig' %}

{% block title %}
	Module
{% endblock %}

{% block additional_css %}
	<link rel="stylesheet" href="{{ asset('css/section.css') }}">
	<link rel="stylesheet" href="{{ asset('css/pagination.css') }}">
	<link rel="stylesheet" href="{{ asset('css/infos-section.css') }}">
{% endblock %}

{% block body %}

	<h1>Module</h1>

	{% if module is null %}

		{# ROLE_ADMIN : Lien pour ajouter un module /module/new #}
		{% if is_granted('ROLE_ADMIN') %}

			<a class="btn" href="{{ path('new_module')}}">Ajouter un module</a>

		{% endif %}

		<h2>Les modules</h2>

		{# Affiche la liste de toutes les modules sous forme de lien vers les infos d'un module spécifique #}
		<div class="items">
			{% for module in modules %}
				<a href="{{ path('infos_module', {'id' : module.id}) }}">{{ module }}</a>
			{% endfor %}
		</div>

		<div class="navigation">
			{{ knp_pagination_render(modules) }}
		</div>

	{% else %}

		<a class="btn-return" href="{{ path('app_module')}}"><i class="fa-solid fa-caret-left" style="color: #000000; font-size: 40px;"></i>Retour</a>

		<div class="informations">
			<h2>Informations :</h2>
			<div class="section items">
				<p><b>Module</b> :
					{{ module.nom }}</p>

				{# Affiche la catégorie du module sélectionné sous forme de lien vers le module en question #}
				<p><b>Catégorie</b> :
					<a class="link" href="{{ path('infos_categorie', {'id': module.categorie.id}) }}">{{ module.categorie }}</a>
				</p>

				{# ROLE_ADMIN : Lien pour modifier/supprimer un module  #}
				{% if is_granted('ROLE_ADMIN') %}

					<a class="btn" href="{{ path('edit_module', {'id' : module.id}) }}">Modifier</a>
					<a class="confirm-delete btn btn-delete" href="{{ path('delete_module', {'id' : module.id}) }}">Supprimer</a>

				{% endif %}
			</div>
		</div>
	{% endif %}

{% endblock %}
