<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		<link
		rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">

		{# CSS links #}
		{% block stylesheets %}
			<link rel="stylesheet" href="{{ asset('css/main.css') }}">
		{% endblock %}
		{% block additional_css %}{% endblock %}

		{# JavaScript links #}
		{% block javascripts %}
			<script src="{{ asset('js/main.js') }}"></script>
		{% endblock %}

	</head>
	<body>
		<nav>
			<a href="{{path('app_home') }}">Accueil</a>
			<a href="{{path('app_formation') }}">Formation</a>
			<a href="{{path('app_session') }}">Sessions</a>
			{% if app.user %}
				<a href="{{path('app_stagiaire') }}">Stagiaires</a>
			{% endif %}
			<a href="{{path('app_module') }}">Modules</a>
			<a href="{{path('app_categorie') }}">Catégorie</a>
			{# <a href="">Formateurs</a> #}
			{% if app.user %}
				<a href="{{path('app_logout') }}">Déconnexion</a>
			{% else %}
				<a href="{{path('app_login') }}">Connexion</a>
				<a href="{{path('app_register') }}">Inscription</a>
			{% endif %}

		</nav>
		{% block body %}{% endblock %}
	</body>
</html>
