<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		<link
		rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">

		{# CSS links #}
		{% block stylesheets %}
			<link rel="stylesheet" href="{{ asset('css/main.css') }}">
			<link rel="stylesheet" href="{{ asset('css/hamburger.css') }}">
		{% endblock %}
		{% block additional_css %}{% endblock %}

		{# JavaScript links #}
		{% block javascripts %}
			<script src="https://kit.fontawesome.com/de7e6c09fa.js" crossorigin="anonymous"></script>
			<script src="{{ asset('js/main.js') }}"></script>
		{% endblock %}

	</head>
	<body>
		<div id="wrapper" data-theme="light">
			<div id="overlay"></div>
			<header id="header">
				<nav
					id="navbar">
					{# Hamburger  #}
					<button class="hamburger hamburger-animation" type="button">
						<span class="hamburger-box">
							<span class="hamburger-inner"></span>
						</span>
					</button>
					{# Nav-Links #}
					<div id="navigation" class="nav-links">
						<div class="links">
							<ul class="page-links">
								<li>
									<a href="{{path('app_home') }}">Accueil</a>
								</li>
								<li>
									<a href="{{path('app_formation') }}">Formation</a>
								</li>
								<li>
									<a href="{{path('app_session') }}">Sessions</a>
								</li>
								{% if app.user %}
									<li>
										<a href="{{path('app_stagiaire') }}">Stagiaires</a>
									</li>
								{% endif %}
								<li>
									<a href="{{path('app_module') }}">Modules</a>
								</li>
								<li>
									<a href="{{path('app_categorie') }}">Catégorie</a>
								</li>
							</ul>
							<ul class="auth-links">
								{% if app.user %}
									<li>
										<a href="{{path('app_logout') }}">Déconnexion</a>
									</li>
								{% else %}
									<li>
										<a href="{{path('app_login')}}">Connexion</a>
									</li>
									<li>
										<a href="{{path('app_register')}}">Inscription</a>
									</li>
								{% endif %}
							</ul>
						</div>
					</div>
				</nav>
			</header>

			<div class="content"> {% block body %}{% endblock %}
				</div>

			</div>
		</body>
	</html>
