{% extends 'base.html.twig' %}

{% block title %}

	Catégorie

{% endblock %}

{% block additional_css %}
	<link rel="stylesheet" href="{{ asset('css/section.css') }}">
	<link rel="stylesheet" href="{{ asset('css/pagination.css') }}">
	<link rel="stylesheet" href="{{ asset('css/infos-section.css') }}">
{% endblock %}

{%block body %}

	<h1>Catégorie</h1>

	{# Si aucun ID est renseigné dans l'URL #}
	{% if categorie is null %}

		{# ROLE_ADMIN : Lien vers /categorie/new pour créer une nouvelle catégorie #}
		{% if is_granted('ROLE_ADMIN') %}

			<a class="btn" href="{{ path('new_categorie') }}">Ajouter une catégorie</a>

		{% endif %}

		<h2>Les catégories</h2>

		{# Affiche les catégories sous forme de lien vers les infos de la catégorie choisit #}
		<div class="items">
			{% for categorie in categories %}
				<a href="{{ path('infos_categorie', { id: categorie.id }) }}">{{ categorie }}</a>
			{% endfor %}
		</div>

		<div class="navigation">
			{{ knp_pagination_render(categories) }}
		</div>

		{# Si un id est présent : /catégorie/{id}, affiche une catégorie spécifique #}
	{% else %}

		<a class="btn-return" href="{{ path('app_categorie') }}">
			<i class="fa-solid fa-caret-left" style="color: #000000; font-size: 40px;"></i>Retour</a>

		<div
			class="informations">
			{# Affiche le nom de la catégorie #}
			<h2>{{ categorie.nom }}</h2>

			{# ROLE_ADMIN : Lien vers /categorie/{id}/edit pour modifier/supprimer une catégorie #}
			{% if is_granted('ROLE_ADMIN') %}

				<a class="btn categorie" href="{{ path('edit_categorie', { id: categorie.id }) }}">Modifier</a>

			{% endif %}
			<div class="section">
				<h3>Liste des modules</h3>
				<div class="items">
					{% for module in modulesCategorie %}
						<a class="link" href="{{ path('infos_module', { id: module.id }) }}">{{ module }}</a>
					{% endfor %}
				</div>
			</div>
		</div>
	{% endif %}

{% endblock %}
